<div class="container-fluid">
	<div class="col-md-10 col-md-offset-1">
		<table class="table">
			<% persons.forEach(function(model){%>
			<tr>
				<td><%=model.name%></td>
				<td><a href="http://localhost:1337/person/registration/<%=model.id%>">Registration</a></td>
				<td><a href="http://localhost:1337/person/edit/<%=model.id%>">Edit</a></td>
				<td><a href="http://localhost:1337/person/delete/<%=model.id%>">Delete</a></td>
			</tr>
			<% });%>
		</table>
	</div>
</div>